<header class="p-5 border-b-[1px] border-dark sm:px-20">
  <nav class="flex justify-between sm:hidden">
    <mat-icon>menu</mat-icon>
    <mat-icon class="material-symbols-outlined">dark_mode</mat-icon>
    <!-- <mat-icon class="icon">sunny</mat-icon> -->
  </nav>
  <nav class="hidden sm:block">
    <ul class="flex flex-row justify-between xl:justify-around">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/skills"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Skills</a
        >
      </li>
      <li>
        <a
          routerLink="/projects"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Projects</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Contact</a
        >
      </li>

      <mat-icon class="material-symbols-outlined">dark_mode</mat-icon>
      <!-- <mat-icon>sunny</mat-icon> -->
    </ul>
  </nav>
</header>
