<section class="flex justify-center p-20 w-full h-full bg-oldLace">
  <button
    (click)="closeDialog()"
    aria-label="Close modal navigation"
    class="absolute right-5 top-5 text-darkBlue text-2xl border border-redError px-3 py-1 rounded-full"
  >
    X
  </button>
  <ul class="w-full flex flex-col gap-20 justify-center items-center text-4xl">
    <li>
      <a (click)="closeDialog()" routerLink="/home">Home</a>
    </li>
    <li>
      <a (click)="closeDialog()" routerLink="/skills">Skills</a>
    </li>
    <li>
      <a (click)="closeDialog()" routerLink="/projects">Projects</a>
    </li>
    <li>
      <a (click)="closeDialog()" routerLink="/contact">Contact</a>
    </li>
  </ul>
</section>
