<section class="flex justify-center p-20 w-full h-full bg-oldLace">
  <button
    (click)="closeDialog()"
    class="absolute right-5 top-5 text-darkBlue text-2xl border border-redError px-3 py-1 rounded-full"
  >
    X
  </button>
  <ul class="w-full flex flex-col gap-20 justify-center items-center text-4xl">
    <li>
      <a
        (click)="closeDialog()"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        (click)="closeDialog()"
        routerLink="/skills"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Skills</a
      >
    </li>
    <li>
      <a
        (click)="closeDialog()"
        routerLink="/projects"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Projects</a
      >
    </li>
  </ul>
</section>
