<main class="p-5 flex flex-col justify-center content-center">
  <article class="text-center flex flex-col gap-[30px]">
    <h1 class="text-[28px] md:text-[32px] lg:text-[44px]">
      Hi, I’m <span class="font-bold">Nicolas Mézières</span>
    </h1>
    <h2 class="text-2xl lg:text-[32px] font-bold">
      Developper full stack junior
    </h2>
    <p class="text-xl lg:text-[24px]">
      A developer skilled in technologies like NodeJS, MySQL and JavaScript.<br /><br />
      I also mastery frameworks like React and NestJS.<br /><br />
      I’m passionate in developpement web and mobile.
    </p>
    <section class="flex justify-center items-center gap-10">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/nicolas-mézières-377952217/"
        aria-label="Linkedin"
        ><ng-icon name="bootstrapLinkedin" class="text-[40px]"
      /></a>
      <a
        target="_blank"
        href="https://github.com/NicolasMezieres"
        aria-label="Github"
        ><ng-icon name="jamGithub" class="text-5xl"
      /></a>
    </section>
  </article>
</main>
