<app-header></app-header>
<main class="flex-1 px-5 py-5 flex flex-col justify-center content-center">
  <article class="text-center flex flex-col gap-[30px]">
    <h1 class="text-[28px]">Hi, I’m Nicolas Mézières</h1>
    <h2 class="text-2xl">Developper full stack junior</h2>
    <p class="text-xl">
      A developer skilled in technologies like NodeJS, MySQL and JavaScript.<br /><br />
      I also mastery frameworks like React and NestJS.<br /><br />
      I’m passionate in developpement web and mobile.
    </p>
    <section class="flex justify-center items-center gap-10">
      <a><ng-icon name="bootstrapLinkedin" class="text-[40px]" /></a>

      <a><ng-icon name="jamGithub" class="text-5xl" /></a>
    </section>
  </article>
</main>
<app-footer></app-footer>
