<main class="flex flex-col justify-center items-center pt-10 pb-5 gap-5 px-5">
  <h1 class="text-[28px] font-bold">Projects</h1>
  <article>
    <app-project
      [titleProject]="'Go Together'"
      [stackList]="['Svelte', 'NestJS', 'PostgreSQL']"
      [imagePath]="'assets/img/goTogether.png'"
      [links]="[
        {
          link: 'https://github.com/Daosre/GoTogether_F',
          text: 'Github Front'
        },
        { link: 'https://github.com/Daosre/GoTogether_B', text: 'Github Back' }
      ]"
      [description]="
        'Go Together is an evenement website where users can create or join an evenement .<br> You need to create and account and validate your account by email for create or join an event .<br> This website is translate in english/french.'
      "
    ></app-project>
    <hr class="w-full h-[1px] py-5" />
    <app-project
      [titleProject]="'Le Bon Petit Plat'"
      [stackList]="['React', 'NestJS', 'PostgreSQL']"
      [imagePath]="'assets/img/leBonPetitPlat.png'"
      [links]="[
        {
          link: 'https://github.com/NicolasMezieres/Le-Bon-Petit-Plat-Front',
          text: 'Github Front'
        },
        {
          link: 'https://github.com/NicolasMezieres/Le-Bon-Petit-Plat-Back',
          text: 'Github Back'
        }
      ]"
      [description]="
        'Le Bon Petit Plat is a recipe website where user can search a recipe by ingredient, they can share their recipes and comment with a rating . <br> User needs to create and account and validate her account by email for comment or create her recipe .'
      "
    ></app-project>
    <hr class="w-full h-[1px] py-5" />
    <app-project
      [titleProject]="'Pictochat'"
      [stackList]="['HTML', 'CSS', 'JS', 'Express', 'MySQL', 'MongoDB']"
      [imagePath]="'assets/img/pictochat.png'"
      [links]="[
        {
          link: 'https://github.com/NicolasMezieres/ReseauSocial-Front',
          text: 'Github Front'
        },
        {
          link: 'https://github.com/NicolasMezieres/ReseauSocial-Back',
          text: 'Github Back'
        }
      ]"
      [description]="
        'Pictochat is a social network where user can post a message with a picture .<br> User needs to create and account and validate her account by email for use this social network.'
      "
    ></app-project>
    <hr class="w-full h-[1px] py-5" />
    <app-project
      [titleProject]="'Slime Tower Defense'"
      [stackList]="['HTML', 'CSS', 'JS']"
      [imagePath]="'assets/img/slimeTowerDefense.png'"
      [links]="[
        {
          link: 'https://github.com/NicolasMezieres/TowerDefense',
          text: 'Github Front'
        },
        {
          link: 'https://slimetowerdefense.netlify.app',
          text: 'Demo'
        }
      ]"
      [description]="
        'You have a 5 lifes by level. <br> you need to place and buy your turrets for defend your heart.'
      "
    ></app-project>
  </article>
</main>
